* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}


body {
	margin:0;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}

header {
	color:white;
	text-align: center;
	max-width:none;
	padding-top:100px;
	width:100%;
	background: url(../img/sand2-2.jpg) no-repeat center center;
	background-size: cover;
	height:100vh;
}

h1  {
	font-size:35px;
	font-family:'Palanquin Dark', sans-serif;
	margin:0 0 20px;
	color:orange;
}


h2 {
	font-size: 25px;
	font-family:'Palanquin Dark', sans-serif;
	padding:0;
	margin:0;
	margin-top: 20px
}

h4 {
	font size: 10px;
	font-family:'Palanquin Dark', sans-serif;
}


header ul li {
	display: inline-block;
	color: white;
	padding-left:30px;
	padding-right:30px;
	font-size: 18px;
	text-align: center;
	margin: 0px;
}

ul {
	padding:0;
}


ul.popuplist {
	padding-left:15px;
}

a {
	color:orange;
	text-decoration: none;
}

a:hover {
	color:orange;
	font-weight:400;
	text-decoration:none;
}

p {
	font-weight: 300;
	margin:0;
}

.logo {
	max-height: 160px;
	padding:20px;
}

.btn {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
	padding: 8px;
	margin:10px;
}


.btn-outline {
	color: #fff;
	border: solid #fff 2px;
	border-radius: 8px;
	width:115px;
	text-align: center;
}


.btn-filled {
	color:#fff;
	background-color: orange;
	border-radius: 8px;
	padding: 10px;
	padding-right: 25px;
	padding-left: 25px;
	margin-top:30px;
	margin-bottom:20px;
}


.btn:hover {
	transform:scale(1.1);
	transition:transform 0.3s;
	color:#fff;
	}


/*
What section*/

div.what {
	padding:40px;
	text-align: center;
}

.blackbutt {
	padding-top:20px;	
	padding-bottom: 20px;
}

.buttgif {
	text-align: center;
}

/*Who section
*/

.who{
	background: url(../img/orange_background_lighter.png);
	background-repeat: repeat;
	width:100%;
}


div.whoarewe {
	padding:40px;
	text-align: center;
}


div.bothprofiles {
	padding:10px;
	text-align: center;
}

.eva-picture  {
	max-width:220px;
	padding:20px;
}

.jo-picture  {
	max-width:220px;
	padding:20px;
}


.col-introcopy {
	padding:20px;
}


.cigbutt {
	position: absolute;
	width:50px;
}


/* Map section
*/

#map {
  	width:100%;
	height:500px;
	overflow: initial;
	z-index:999;
 }

 #mapsup {
 	padding:20px;
 	text-align: center;
 }

 .mapboxgl-popup-content {
 	width:400px;
 	padding:25px; 
	font-family: "Montserrat", sans-serif;
	z-index: -1;
 }

.mapboxgl-ctrl-bottom-right {
	display:none;
}


/* //Gallery section//*/

.gallery {
	text-align: center;
	padding: 40px 0;
}


.slick-slide {
	height: auto !important; 
}

.hero-carousel {
	min-height: 0;
	min-width: 0;
}

.hero-carousel img {
	width:100%;
}


.fa-chevron-right, .fa-chevron-left {
	font-size:25px;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	left:60px;
	z-index: 999;
}


.fa-chevron-right {
	left:auto;
	right:60px;
}


.slick-dots {
	padding:0;
	text-align: center;
	position: absolute;
	bottom:0;
	width:100%;
}


.slick-dots li{
	display: inline-block;
	height:10px;
	width:10px;
	background-color: rgba(255,255,255,1);
	border-radius:50%;
	margin-top:0;
	margin-left:20px;
	margin-right:20px;
}


.slick-dots li.slick-active {
	background-color: orange;
}


.slick-dots li button{
	display: none;
}


/*Get involved section*/

body,html{margin:0;padding:0;}

.wrapper {
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
	height: 100vh;
}


.get-involved {
	position: relative;
	text-align: center;
	padding-top:100px;
	width:100%;
	background: url(../img/landing.jpg) no-repeat center center;
	background-size: cover;
	background-attachment:fixed;
	height:100vh;
}

.get-involved-box {
	background-color:#fff;
	text-align: center;
	padding-top:60px;
	padding-right:80px;
	padding-left:80px;
	padding-bottom:60px;
}


/*
 Footer section*/

a.footerlink {
	color: #fff;

}

footer {
	background-color: orange;
	text-align: center;
	font-size: 11px;
	color: #fff;
	padding:30px;

}

/*
Contact us page*/


.wrapper-2 {
	position: relative;
	height: 100vh;
	text-align: center;
	padding-top:80px;
	padding-bottom: 50px;
	width:100%;
	background: url(../img/bubblywaves.jpg) no-repeat center center;
	background-size: cover;
	background-attachment:fixed;
}

.contact-us-box {
	background-color:#fff;
	text-align: center;
	padding-top:60px;
	padding-right:80px;
	padding-left:80px;
	padding-bottom:40px;
	font-size: 13px;
}


.btn.btn-filled.send {
	margin-top:5px;
	margin-bottom:15px;
}


p.mini {
	font-size: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea, select {
	width:100%;
	height:45px;
	margin-bottom:10px;
	font-weight: 200;
	padding: 12px;
	
}

textarea {
	height:initial;
}


form {
	background:#fff;
	text-align:center;
}

select:focus, textarea:focus, input:focus{
	outline:none;
	border: solid 1px orange;
}

